@import 'components/colors';

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#home-header {
	padding: 10em 0;
}

#post-header {
    padding: 5em 0;
}

#footer {
	background-color: #00112bff;
	padding: 3em 0;
}

.card-title {
    @extend .dark-blue;
    font-weight: bold;
}

.post-title {
	font-size: 2.5rem;
}

.social-icons {
	font-size: 2.5rem;

    a {
        padding: 0 .1em;
    }
}

a {
	text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

#scroll-top {
    position: fixed;
    display: none;
    right: 50px;
    bottom: 50px;
    z-index: 11;
    border: solid 1px #00112bff;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #00112bff;
    background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
    transition: all .5s ease-in-out;

    &:hover {
        box-shadow: 0 0 5px #00112bff;
    }
}

.blog-description {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
}

.flat-link {
    &:hover {
        text-decoration: underline;
    }
}

.widget {
    list-style-type: none;
    margin-bottom: 1em;
}

.comments-list {
    list-style-type: none;
    padding-left: 0;
}

.separator {
    width: 40%;
    margin: 2em auto;
    border-radius: 5px;
}
